.bckimage4 {
    background-image: url("../../images/calendar_Splash.png") ;
   
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100%;
    min-width: 1024px;
    
    
    width: 100%;
    height: auto;
    
   
    position: fixed;
    top: 0;
    left: 0;
	
  }

 .regtext {
   
    font-family: 'Fjalla One', sans-serif;
    font-size: 50px;
      /*   text-align: 'center'; */
    
    opacity: 1

  }
  .regtext7 {
   
    font-family: 'Fjalla One', sans-serif;
    font-size: 50px;
    text-align: 'center';
    
    opacity: 1

  }
  .regtext8 {
   
    font-family: 'Fjalla One', sans-serif;
    font-size: 25px;
    text-align: 'center';
    
    opacity: 1

  }

  .formtext5 {
   
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 20px
  
  }


  .imagehover {
    opacity: 0.8;

  }
  
  .imagehover:hover {
    opacity: 1.0;
  }

  .regbox8 {
    
    
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-box-shadow: 0px 0px 16px 7px rgba(0,66,133,0.69);
    -moz-box-shadow: 0px 0px 16px 7px rgba(0,66,133,0.69);
    box-shadow: 0px 0px 16px 7px rgba(0,66,133,0.69);
  
  }
/*   .regbox9 {
    margin-left: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-box-shadow: 0px 0px 16px 7px rgba(0,66,133,0.69);
    -moz-box-shadow: 0px 0px 16px 7px rgba(0,66,133,0.69);
    box-shadow: 0px 0px 16px 7px rgba(0,66,133,0.69);
  
  } */

  .container {
    width: 95%;
  

  }

  .col1 {
    margin-right:50px
  }
  
  .col2 {
    margin-right:-50px
  }

  .square {
    border-style: solid;
    border-width: 1px;
    height: 100%;
    width: 100%;
    background-color: white;
    border-color: black
  }

  .buttonFalse {
    border-style: solid;
    border-width: 1px;
    height: 100%;
    width: 100%;
    background-color:green;
    border-color: black
  }
  