.bckimage {
    background-image: url("../../images/splash_home.png");
    
    background-size: cover;

    min-height: 100%;
    min-width: 1024px;
	
    width: 100%;
    height: auto;
	
    position: fixed;
    top: 0;
    left: 0;
  }

 .splashtext {
    line-height: 200px;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 280px;
    text-align: 'center';
    color: white;
    opacity: 0.6

  }
  .imagehover {
    opacity: 0.8;

  }
  
  .imagehover:hover {
    opacity: 1.0;
  }